@import "~bootstrap/scss/bootstrap"


.navbar
    padding: 0
    background: rgb(255,255,255)
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(0,0,0,.1) 75%, rgba(0,0,0,0.2) 100%)
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(0,0,0,.1) 75%, rgba(0,0,0,0.2) 100%)
    background: linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(0,0,0,.1) 75%, rgba(0,0,0,0.25) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1)

.ilc
    padding-top: 20vh
    background: #CCC
    .saludo
        width: fit-content
        margin: auto
        font-size: 3rem
        padding-bottom: 3rem